@{
    ViewData["title"] = "Aboutus";
}
<div class="about" style=" padding: 10px;
  text-align: center;
  background-color: gray;
  color: white;">
  <h1>About Us</h1>
  <p>We are the teams for the waste management system in the comming future.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row" >
  <div class="col-sm-4">
    <div class="card" >
      <center><img src="~/img/pic.jpg" alt="Pema" style="width:50%"></center>
      <div class="container">
        <h2>Pema Gyalbu</h2>
        <p class="title">CEO & Founder</p>
        <p>Well he used to work as CEO and also a founder.</p>
        <p>PemaG@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <center><img src="~/img/pic.jpg" alt="Pema" style="width:50%"></center>
      <div class="container">
        <h2>Pema Gyalbu</h2>
        <p class="title">CEO & Founder</p>
        <p>Well he used to work as CEO and also a founder.</p>
        <p>PemaG@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="card">
      <center><img src="~/img/pic.jpg" alt="Pema" style="width:50%"></center>
      <div class="container">
        <h2>Pema Gyalbu</h2>
        <p class="title">CEO & Founder</p>
        <p>Well he used to work as CEO and also a founder.</p>
        <p>PemaG@example.com</p>
        <p><button class="button" >Contact</button></p>
      </div>
    </div>
  </div>

</div>

