@{
    ViewData["title"] = "Services";
}

<div class="about" style=" padding: 10px;
  text-align: center;
  background-color: gray;
  color: white;">
  <h1>How We manage different waste?</h1>
</div>
<div class="row" style="margin-top:25px" >
  <div class="col-sm-6">
      <center><img src="~/img/compost.jpg" alt="compost" style="width:85%;"></center>
  </div>

  <div class="col-sm-6">
       <h3>Compost waste</h3> 
       <p>Composting is the natural process of recycling organic matter, such as leaves and food scraps,
           into a valuable fertilizer that can enrich soil and plants and these can be provided to the famers
           that will helps them to grow different agricultural products.</p>
  </div>
</div><br /><br /><br />
<div class="row" >
  <div class="col-sm-6">  
     <div class="container">
        <h2>Recycle Waste</h2>
        <p>Recycling is the process of converting waste materials into new materials and objects. 
            The recovery of energy from waste materials is often included in this concept. Through the
            recycling of waste materials alots of money can be generated.</p>
      </div>
  </div>
  <div class="col-sm-6">
   <center><img src="~/img/601558_278879_ans.jpg" alt="compost" style="width:85%; background-color:brown;"></center>
  </div>
</div>

  

